.DS_Store
**/__pycache__/*
DataPreparation/__pycache__/DataPreparation.cpython-39.pyc
DataPreparation/__pycache__/DataPreparation.cpython-39.pyc
*.pyc
DataPreparation/__pycache__/DataPreparation.cpython-38.pyc
